*,*::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.4px;
}
p,a{
  font-family: 'Work Sans', sans-serif;
}
html{
  scroll-behavior: smooth;
}
.navbar{
  background: #474747;
  padding: 1% 10%;
  z-index: 1000;
}
.navbar .navbar-brand{
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px;
}

.nav-item .nav-link{
  color: white;
  font-size: 1.1rem;
  padding: 0 0.8rem;
  transition: 0.3s;
}
.nav-item .nav-link:hover{
  
}
.nav-item .nav-link:active{
  
}
#navbarSupportedContent > a {
  background: #00BF85;
  font-weight: 600;
  padding: 0.4rem 1.4rem;
  border-radius: 30px;
}
.mid{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position:relative;
}
.mid video{
  width: 100%;
  min-height: 100vh;
  pointer-events:none;
  object-fit: cover;
}
.mid .hero{
  position: absolute;
}
.mid .hero h2{
  width: 95%;'
}
.mid .hero p{
  width: 55%;
  font-size: 1.1rem;
  letter-spacing: 0.2px;
  padding-bottom: 1rem;

}
.mid .hero a {
  padding: 0.7rem 1.4rem;
  color: white;
  font-weight: 600;
  border: 2px solid #00BF85;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.2s;
}
.mid .hero a:hover {
  background:#00BF85 ;
  color: black;
  padding: 0.7rem 1.6rem;
}


/*About section start here*/
.About{
  background-color: #000;
}
.About .text{
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
}
.About img{
  width: 100%;
}
.About .text h6{
  color: #00BF7F;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 2px;
}
.About .text h2{
  color: #f7f5f4;
  font-weight: 700;
  font-size: 2.7rem;
}
.About .text p{
  color: white;
  font-size: 1rem;
  letter-spacing: 0.5px;
}
.About .text a{
  background: #00BF85;
  font-weight: 600;
  padding: 0.5rem 1.4rem;
  border-radius: 30px;
  text-decoration: none;
  color: #111;
}
.About .text a:hover{
  background: white;
  color: black;
}
/*About section ends here*/

/*Discovery section starts from here*/
.Discovery{
 
}
.Discovery .text{
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
}
.Discovery img{
  width: 100%;
}
.Discovery .text h6{
  color: #00BF7F;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 2px;
}
.Discovery .text h2{
  color:#111;
  font-weight: 700;
  font-size: 2.7rem;
}
.Discovery .text p{
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.5px;
}
.Discovery .text a{
  background: #111;
  font-weight: 500;
  padding: 0.5rem 1.4rem;
  border-radius: 30px;
  text-decoration: none;
  color:#fff;
}
.Discovery .text a:hover{
  background: none;
  border: 2px solid #111;
  color: black;
}
/*Discovery section ends here*/

/*Service section Stat here*/
.Service{
  background-color: #000000;
}
.Service .one{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 1.5rem;
  border-radius: 7px;
  transition: 0.2s;
}
.Service .one:hover{
  transform: scale(1.1);
}
/*Service section ends here*/

/*Sign section start here*/
.Sign{
 
}
.Sign .text{
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
}
.Sign img{
  width: 100%;
}
.Sign .text h6{
  color: #00BF7F;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 2px;
}
.Sign .text h2{
  color: #111;
  font-weight: 700;
  font-size: 2.7rem;
}
.Sign .text p{
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.Sign .text a{
  background: #111;
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
}
.Sign .text a:hover{
  background: none;
  border: 2px solid #111;
  color: black;
  padding: 0.6rem 1.6rem;
}
/*Sign section ends here*/


/*Footer start from here*/
body > footer {
  background-color: #111!important;
}
body > footer > ul.list-unstyled.list-inline.text-center.py-2 > li:nth-child(2) > a{
  background: #00BF85;
  font-weight: 600;
  padding: 0.6rem 1.4rem;
  border-radius: 30px;
  border:none;
  color: black;
  text-decoration: none;
}
body > footer > ul.list-unstyled.list-inline.text-center.py-2 > li:nth-child(2) > a:hover{
  background: none;
  border: 2px solid #00BF85;
  color: white;
  padding: 0.6rem 1.6rem;
}

/*Footer ends from here*/

@media screen and (max-width:768px){
    .nav-item .nav-link{
       margin-bottom: 10px;
    }
    .mid .hero h2{
      font-size: 2.5rem;
       }
    .mid .hero p {
      font-size: 1rem;
       }
    .mid .hero a {
      font-size: 0.9rem;
       }
}